body {
    background-color: #ffffff; /* Fundo preto */
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0;
    padding-top: 27px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'roboto', sans-serif;
    margin-left: 14px;
    margin-bottom: 27px;;
    color: #ffffff;
}

.produtos {
    width: 402px;
    min-height: 100vh;
    height: auto;
    padding-bottom: 15px;
    background-color: #121212;
}

.menu-container {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0px 14px 0px 14px;
}

.item-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 39px;
    gap: 11px;
    width: 95%;
}

.item-detalhes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    height: auto;
    width: 95%;
}


h3 {
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.code-descricao {
    margin-top: 5px;
    font-family: 'fira code', monospace;
    color: #ffffff; 
    font-size: 8px;
    font-weight: bold;
    line-height: 13px;
    display: block;
}


/* Cores do code descrição */
.roxo { color: #BB86FC; }
.ciano { color: #03DAC6; }
.vermelho { color: #F95151; }
.azul { color: #5B79D2; }
.laranja { color: #FF8C00; }


/* Rodapé do Card (Coração e Preço) */
.footer-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.heart-icon {
    width: 20px;
    cursor: pointer;
    transition: transform 0.2s;
}

.heart-icon:active {
    transform: scale(1.2); /* Dá um leve "pulo" quando clica */
}

.botao-preco {
    background-color: #1E1E1E;
    color: #FF8C00; 
    font-family: 'dosis', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 103px;
    height: 32px;
    border-radius: 30px;
    border: none;
}

/* descrição normal começa escondida */
.texto-descricao{
    display: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: white;
}

/* quando ativar modo leitura */
.modo-leitura .code-descricao{
    display: none;
}

.modo-leitura .texto-descricao{
    margin-top: 5px;  
    font-size: 14px;
    display: block;
}

/* =========================
   BOTÕES DE ACESSIBILIDADE
========================= */

.acessibilidade-container{
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #121212;
}

/* BOTÕES */

.acessibilidade-container button{
    border: none;
    height: 30px;
    min-width: 30px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #5B79D2;
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

/* BOTÃO LEITURA */

#toggleFonte{
    background-color: #5B79D2;
    text-transform: uppercase;
    font-size: 12px;
}

/* HOVER */

.acessibilidade-container button:hover{
    background-color: green;
}

/* HOVER BOTÃO LEITURA */

#toggleFonte:hover{
    background-color: green;
}

/* CLIQUE */

.acessibilidade-container button:active{
    transform: scale(0.96);
}

/* BOTÃO DESABILITADO */

.acessibilidade-container button:disabled{
    opacity: 0.4;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}
